/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* Start styling */
.main-wrapper {
	margin: 0 auto;
	width: 1000px;
}
a {
	text-decoration: none;
}
body {
	background-color: #ccc;
}
header nav {
	width: 100%;
	height: 60px;
	background-color: #fff;
}

header nav ul {
	float: left;
}


header nav ul li {
	float: left;
	list-style: none;;
}
header nav ul li a {
	font-family: arial;
	font-size: 16px;
	color: #111;
	line-height: 63px;
}

header .nav-login {
	float: right;
}
header .nav-login form {
	float: left;
	padding-top: 15px
}

header .nav-login form input {
	float: left;
	width: 140px;
	height: 30px;
	padding: 0px 10px;
	margin-right: 10px;
	border: none;
	border: none;
	background-color: #ccc;
	font-family: arial;
	font-size: 14px;
	color: #111;
	line-height: 30px;
}
header .nav-login form button {
	float: left;
	width: 60px;
	height: 30px;
	margin-right: 10px;
	border: none;
	background-color: #f3f3f3;
	font-family: arial;
	font-size: 14px;
	color: #111;
	cursor: pointer;
}
header .nav-login form button:hover {
	background-color: #ccc;
}
header .nav-login a {
	display: block;
	width:  60px;
	height: 60px;
	border:none;
	float: left;
	background-color: #fff;
	font-family: arial;
	font-size: 16px;
	color: #111;
	line-height: 63px;
	cursor: pointer;
}

.main-container {
	padding-top: 40px;

}
.main-container h2 {
	padding-top: 40px;
	font-family: arial;
	fon-size: 40px;
	color: #111;
	line-height: 50px;
	text-align: center;
}

/*add question */

.add-question-form {
	width: 400px;
	margin: 0 auto;
	padding-top: 30px;

}
.add-question-form input {
	width: 90%;
	height: 40x;
	padding: 0px 5%;
	margin-bottom: 4px;
	border: none;
	background-color: #fff;
	font-family: arial;
	font-size: 16px;
	color: #111;
	line-height: 40px;
}
.add-question-form button {
	display: block;
	margin: 0 auto;
	width: 30%;
	height: 40px;
	border: none;
	background-color: #444;
	font-family: arial;
	font-size: 16px;
	color: #fff;
	line-height: 40px;
	cursor: pointer;
}
.add-question-form button:hover {
	background-color: #111;
}
/*  Add question form */
.add-question-form h2 {
	padding-top: 40px;
	font-family: arial;
	fon-size: 40px;
	color: #111;
	line-height: 50px;
	text-align: center;
}

.add-question-form select {
	width: 100%;
	height: 40x;
	padding: 0px 5%;
	margin-bottom: 4px;
	border: none;
	background-color: #fff;
	font-family: arial;
	font-size: 16px;
	color: #111;
	line-height: 40px;
}
/*  End of Add question form*/
.quiz-button {
	display: grid;
	grid-template-columns: 50% 50%;
}
.quiz-button-left {
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 1em;
}
.quiz-button-left > a {
	display: block;
	text-decoration: none;
	padding: 1em;
	margin: 0 auto;
	float: left;
	width: 100%;
	border: thin;
	background-color: #fff;
	font-family: arial;
	font-size: 16px;
	color: #111;
	line-height: 20px;
	cursor: pointer;
}
.quiz-button-right > a {
	display: block;
	text-decoration: none;
	padding-bottom: 1em;
	padding-top: 1em;
	float: right;
	width: 100%;
	border: thin;
	background-color: #fff;
	font-family: arial;
	font-size: 16px;
	color: #111;
	line-height: 20px;
	cursor: pointer;

}
.quiz-button > div {
	background: #eee;
	padding: 1em;
}

.quiz-button > div:nth-child(odd){
	background: #ddd;
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

.teacher-home-wrapper {
	background: #eee;
  display: grid;
  grid-template-columns: 4fr 2fr;
  margin: 30px;
  grid-template-areas:
  "teacher-buttons filler"
  "status status"
  "dashboard chats"
  "dashboard logs"
  ;
  grid-gap: 1em;
}

.teacher-buttons {
  grid-area: teacher-buttons;
  display: grid;
  padding: 1em;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  grid-gap: 1em;
}

.teacher-buttons button{
  margin: auto;
  height: 50px;
  width: 100%;
}

.teacher-buttons a {
  margin: auto;
  display: block;
  text-decoration: none;
  line-height: 16px;
  font-family: roboto;
}

.filler {
  grid-area: filler;
}

.teacher-home-status {
  grid-area: status;
}

.dashboard {
  grid-area: dashboard;
}

.chats {
  grid-area: chats;
}

.logs {
  grid-area: logs;
}

/*  Student start*/
.student-home-wrapper {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-rows: 100%;
  grid-template-columns: 25% 50% 25%;
  grid-template-areas:
  "buttons-left philippine-map buttons-right";
}

.quiz-button-left {
  grid-area: buttons-left;
  display:grid;
  grid-gap: 1em 0;
  margin:auto;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.quiz-button-right{
  grid-area: buttons-right;
  display:grid;
  grid-gap: 1em 0;
  margin: auto;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.philippine-map {
  grid-area: philippine-map;
  padding: auto;
}

.philippine-map img {
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  background: #e1e1e1;
  padding: 1em;
  border: 1px inset #b1b1b1;
  border-radius: 5px;
}

/*  Signup form*/
.signup-form-wrapper {
	width: 400px;
	margin: 0 auto;
	padding-top: 30px;

}
.signup-form-wrapper input {
	width: 90%;
	height: 40x;
	padding: 0px 5%;
	margin-bottom: 4px;
	border: none;
	background-color: #fff;
	font-family: arial;
	font-size: 16px;
	color: #111;
	line-height: 40px;
}
.signup-form-wrapper button {
	display: block;
	margin: 0 auto;
	width: 30%;
	height: 40px;
	border: none;
	background-color: #444;
	font-family: arial;
	font-size: 16px;
	color: #fff;
	line-height: 40px;
	cursor: pointer;
}
.signup-form-wrapper button:hover {
	background-color: #111;
}
/*  Add question form */
.signup-form-wrapper h2 {
	padding-top: 40px;
	font-family: arial;
	fon-size: 40px;
	color: #111;
	line-height: 50px;
	text-align: center;
}
.signup-form-wrapper select {
  width: 100%;
	height: 40x;
	padding: 0px 5%;
	margin-bottom: 4px;
	border: none;
	background-color: #fff;
	font-family: arial;
	font-size: 16px;
	color: #111;
	line-height: 40px;
}
/* edit table */
.edit-question-table {
  background: : #FFF;
  margin: 0 auto;
}
.edit-question-table {
  font-family: roboto;
  font-size: 16px;
}

.edit-question-table a {
  text-decoration: none;
  display: block;
  color: #fff;
  background: #777;
  cursor: pointer;
  margin: 0;
  padding: 1px;
  border: 1px solid black;
  border-radius: 3px;
}
.edit-question-table table, th, td {
  border:1px solid black;
  border=collapse: collapse;
  padding: 5px;
}
.edit-question-table tr:nth-child(odd){
  background-color: #ddd;
}
.edit-question-table tr:nth-child(even){
  background-color: #FFF;
}
/* edit question form */

.edit-question-form-wrapper {
	width: 400px;
	margin: 0 auto;
	padding-top: 30px;
  display:block;

}
.edit-question-form-wrapper input {
	width: 90%;
	height: 40x;
	padding: 0px 5%;
	margin-bottom: 4px;
	border: none;
	background-color: #fff;
	font-family: arial;
	font-size: 16px;
	color: #111;
	line-height: 40px;
}
.edit-question-form-wrapper button {
	display: block;
	margin: 0 auto;
	width: 30%;
	height: 40px;
	border: none;
	background-color: #444;
	font-family: arial;
	font-size: 16px;
	color: #fff;
	line-height: 40px;
	cursor: pointer;
}
.edit-question-form-wrapper button:hover {
	background-color: #111;
}
/*  Add question form */
.edit-question-form-wrapper h2 {
	padding-top: 40px;
	font-family: arial;
	fon-size: 40px;
	color: #111;
	line-height: 50px;
	text-align: center;
}
.edit-question-form-wrapper select {
  width: 100%;
	height: 40x;
	padding: 0px 5%;
	margin-bottom: 4px;
	border: none;
	background-color: #fff;
	font-family: arial;
	font-size: 16px;
	color: #111;
	line-height: 40px;
}

.edit-question-form-wrapper a {
  text-decoration: none;
  background: #900;
  color: #fff;
  border: 1px solid black;
  border-radius: 3px;
  padding: 1px;
  margin:auto;

  font-family: arial;
  font-size: 12px;
}
/*  *the popup*/

.content {
  margin: auto;
  padding: 1px;
}

.popup #conf-del {
  display: block;
  text-decoration: none;
  background: #900;
  color: #fff;
  border: 1px solid black;
  border-radius: 3px;
  padding: 1px;
  margin: 0 auto;
  text-align: center;
  font-family: arial;
  font-size: 16px;
}
